:root {
  --main-blue: #192a56;
  --main-white: #dcdde1;
}
body {
  margin: 0 auto;
  background-color: var(--main-blue);
  color: white;
  font-family: Open Sans, Arial;
  font-size: 14px;
  min-width: 400px;
}
.wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: center;
}
.div-left {
  width: 50%;
  height: 100vh;
  order: 0;
}
.div-right {
  width: 50%;
  height: 100vh;
  background: white;
  order: 1;

}
h1 {
  font-size: 1000%;
  font-family: 'Open Sans', Arial;
  margin-right: 80px;
  color: white;
  text-align: right;
}
